/* 1. Definimos nuestra variable central ANTES de importar Bootstrap */
$primary: #0a2540;
$secondary: #b3d4b3; /* Agregamos tu verde claro aquí */
$info: #2D74DA; /* Agregamos tu azul brillante aquí */

/* 2. Importamos todo el núcleo de Bootstrap directamente desde node_modules */
@import 'bootstrap/scss/bootstrap';